<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Wanderly</title>

  <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/css/bootstrap-modal.min.css">
  <link rel="stylesheet" href="styles/styles.css">
  <link rel="icon" href="http://dailydropcap.com/images/W-9.jpg">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
</head>
  <body>
    <div>
      <h1 class="app-title"> Wanderly </h1>
      <div id="userSelection">
        <form  id="userForm">
          <select name="userList" id="userList">
           <option value="no user">author &#9663;</option>
           <script id="user-template" type="text/x-handlebars-template">
            {{#each User}}
              <option value="{{name}}">{{name}}</option>
            {{/each}}
            </script>
          </select>
        </form>
      </div>
    </div>
    <div class="container control-container">
      <div class="col-md-offset-1 col-md-10" id="map"></div>
    </div>
    <div class="controllers col-md-offset-1">
      <button type="button" class="btn btn-default" id="new-entry-btn">New Entry</button>
    </div>
    <div id="new-entry" class="container">
      <form class="form-horizantal col-md-offset-2 col-md-8" id="experience-form">
        <div class="form-group">
          <label class="control-label col-sm-2" for="title">Title:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="title" placeholder="Enter title">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="date">Date:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="date" placeholder="YYYY-MM-DD">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="image">Image:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="image" placeholder="Enter image URL">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="note">Note:</label>
          <div class="col-sm-10">
            <textarea  class="form-control" name="note" placeholder="How was your experience?"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input class="bucketCheck" value="" type="checkbox" name="bucketList">Bucket List
            </label>
          </div>
        </div>
<!--         <div class="form-group">
          <input type="text" class="form-control userName" name="author"  placeholder="Enter author">
        </div> -->
        <button type="submit" class="btn form-btn btn-default">Save your Experience!</button>
        <button type="button" class="btn form-btn btn-default cancel">Cancel</button>
          <div class="form-group">
            <input type="text"  class="lat" name="lat" >
          </div>
          <div class="form-group">
            <input type="text"  class="lng" name="lng" >
          </div>
      </form>
    </div>
    <div id="editSpace">
      <script id="updateForm" type="text/x-handlebars-template">
        <form class="form-horizantal col-md-offset-2 col-md-8" id="update-experience-form" data-edit-id="{{_id}}">
          <div class="form-group">
            <label class="control-label col-sm-2" for="title">Title:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="title" value="{{title}}">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="date">Date:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="date" value="{{date}}">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="author">Author:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="author" value="{{author}}">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="image">Image:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="image" value="{{image}}">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="note">Note:</label>
            <div class="col-sm-10">
              <textarea  class="form-control" name="note" >{{note}}</textarea>
            </div>
          </div>
         <div class="checkbox">
            <label>
              <input class="bucketCheck" value="" type="checkbox" name="bucketList" {{bucketList}}>Bucket List
            </label>
          </div>
          <button type="submit" id="submit-edits" class="btn form-btn btn-default">Save your Experience!</button>
          <button type="button" class="btn form-btn btn-default cancel">Cancel</button>
            <div class="form-group">
              <input type="text"  class="lat" name="lat" value="{{coordinates.lat}}">
            </div>
            <div class="col-sm-10">
              <input type="text"  class="lng" name="lng" value="{{coordinates.lng}}">
            </div>
        </form>
      </script>
    </div>
    <div id="main"  class="container">
      <script id="experience-handle-bar"  type="text/x-handlebars-template">
        {{#each Experience}}
          <div class="experience-item">
            <div class="box row" data-experience-id="{{_id}}">
              <div class="col-md-5">
                <img src="{{image}}" class="imagetag" alt="personal images">
              </div>
              <div class="col-md-offset-2 col-md-5 text-box">
                <h2> {{title}}</h2>
                <p class="datetag"><strong>Date: </strong> {{date}}</p>
                <p class="authortag"><strong>By: </strong> {{author}}</p>
                <p class="notetag"> {{note}}</p>
                <p class="created-at">Created At: {{createdAt}}</p>
                <button class="fa fa-pencil-square-o editBtn" aria-hidden="true"></button>
                <button class="fa fa-times deleteBtn" ></button>
              </div>
            </div>
          </div>
        {{/each}}
      </script>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <footer class="container" id="footer">
      <ul id="footer-links">
        <li> <a href="#"> About </a></li>
        <li> <a href="https://github.com/Sherri010/wanderly/"> Github </a></li>
      </ul>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="https://use.fontawesome.com/7b050a501f.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modal.min.js"></script>
  </body>
</html>

