/* containers */

body {
  padding:0;
  margin:0;
  font-family: Georgia;
  font-size:18px;
  background:white;
}

footer {
  background: #555555;
  color: white;
}

/*    ids    */




#map {
   padding:0px;
   height:350px;
/*   box-shadow: 0px 2px 34px -5px rgba(0,0,0,0.75);
   -webkit-box-shadow: 0px 2px 34px -5px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 2px 34px -5px rgba(0,0,0,0.75);*/
   /*margin-bottom:50px;
   margin-top:20px;*/
}

.container {
  width: 100vw;
  margin: 0px;
  background: #053667;
}
#main {
  background: #e5dee1;
}

#new-entry {
  display: none;
  padding-bottom:50px;
}

.lat,.lng {
  display: none;
}

#footer-links {
  list-style: none;
  display:block;
  text-align: center;
  border-top: 2px solid #999999;
  padding:10px;
  clear: both;
  height: 100vh - 900px;
  background: #5C5C5C;
  margin: 0px;
}

#footer-links li {
  display: inline;
  padding:20px;
  margin: 0px;
}

#footer-links li a{
  color:white ;
}

/*   classes */
.app-title {
  font-family:'Lobster Two', cursive;
  font-weight: bold;
  margin-left:50px;
  padding:10px;
  color:#800080;
  display: inline-block;
}

.imagetag{
  width:500px;
  margin: 20px 10px 20px 10px;
}

.box {
    margin: 25px;
    background: white;
}

.fa {
   background:transparent;
   border:none;
   float:right;
}

.controllers {
  clear: both;
  padding-bottom:30px;
  padding-top:30px;
}

.form-group{
  padding:15px;
}


.btn{
   background: #52527a;
  color:#fff;
  font-size: 18px;
  border:none;
}

.form-btn{
  float:right;
  margin-left:10px;
}

.fa-github{
  margin:0 auto;
}

footer {
  margin: 0px;
}

#text-box {
  margin: 0 2em 0 2em;
}

#userSelection {
  float: right;
}

.control-container {
  clear: both;
}
