/* containers */

body {
  padding:0;
  margin:0;
  font-family: Helvetica;
  /*font-family: Georgia;*/
  font-size:16px;
  background:white;
}

/*footer {
  background: #555555;
  color: white;
}*/

#map {
   padding:0px;
   height:350px;
}

.container {
  width: 100vw;
  margin: 0px;
  background: #053667;
}

#main {
  background: #e5dee1;
}

#new-entry {
  display: none;
  padding: 0px;
  background: #5C5C5C;
}

.lat,.lng {
  display: none;
}

#footer-links {
  list-style: none;
  display: block;
  text-align: center;
  padding: 40px;
  clear: both;
  height: 100px;
  background: #5C5C5C;
  margin: 0px;
}

#footer-links li {
  display: inline;
  padding: 60px;
  margin: 0px;
}

#footer-links li a{
  color: #cecece;
}

.app-title {
  font-family:'Lobster Two', cursive;
  font-weight: bold;
  margin-left: 3em;
  padding:10px;
  color:#800080;
  display: inline-block;
}

.imagetag{
  width:500px;
  margin: 20px 10px 20px 10px;
}

.box {
    margin: 25px;
    background: white;
}

.fa {
   background:transparent;
   border:none;
   float:right;
}

.controllers {
  clear: both;
  padding-bottom:30px;
  padding-top:30px;
}

.form-group{
  padding:15px;
}


.btn{
  background: #52527a;
  color:#fff;
  font-size: 18px;
  border:none;
}

.form-btn{
  float:right;
  margin-left:10px;
}

.fa-github{
  margin:0 auto;
}

#footer {
  padding: 0px;
  background: #5C5C5C;
}

#userSelection {
  float: right;
}

.control-container {
  clear: both;
}

#userName {
  display: none;
}

select {
  background: transparent;
  border: 0;
  margin-top: 3em;
  margin-right: 7em;
  color:#800080;
  -webkit-appearance: none;
}

#experience-form, #update-experience-form {
  padding-top: 30px;
  background: #5C5C5C;
  color: #cecece;
  margin: 0px;
  position: relative;
  display: block;
}

#new-entry-btn {
  margin-left: 1em;
}

.userName {
  display: none;
}
