/* containers */

body {
  padding:0;
  margin:0;
  font-family: Georgia;
  font-size:18px;
  background:#efeff5;
}


/*    ids    */
#map {
   padding:0px;
   height:700px;
   box-shadow: 0px 2px 34px -5px rgba(0,0,0,0.75);
   -webkit-box-shadow: 0px 2px 34px -5px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 2px 34px -5px rgba(0,0,0,0.75);
   margin-bottom:50px;
   margin-top:20px;
}

#new-entry {
  display: none;
  padding-bottom:50px;
}
#lat,#lng {
  display: none;
}

/*   classes */
.app-title {
  font-family:'Lobster Two', cursive;
  font-weight: bold;
  margin-left:50px;
  padding:10px;
  color:#800080;
}

.imagetag{
  width:500px;
  box-shadow: 0px 2px 34px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 2px 34px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 34px -5px rgba(0,0,0,0.75);

}

.box {
    margin-bottom: 50px;
}

.fa {
   background:transparent;
   border:none;
   float:right;
}

.controllers {
  clear: both;
}

.form-group{
  padding:15px;
}